gunicorn==20.0.4       # 必ず必要なので記載する
flask==2.2.2
requests==2.31.0
numpy==1.23.5
pandas==1.5.3
google-cloud-vision==3.4.5
google-auth-oauthlib==1.1.0
google-api-core==2.14.0
google-auth==2.23.4
Pillow==9.4.0
opencv-python==4.8.0.76
Werkzeug==2.3.7